<% layout("/layouts/boilerplate.ejs") %>

<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  
  const listing = <%- JSON.stringify(listing) %>;
</script>

  <div class="row mb-3">

      <div class="col-8 offset-3">
        <h3 class="mt-3"><b><%= listing.title %></b></h3>
        <div class="card listing-card" style="width: 18rem;">
          <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="...">
          <div class="card-body">
            <p class="card-title"> 
              <p class="card-text"><i><%= listing.owner.username %></i></p>
              <p class="card-text"><%= listing.description %></p>
              <p class="card-text">&#8377; <%= listing.price%></p>
              <p class="card-text"><%= listing.location %></p>
              <p class="card-text"><%= listing.country %></p>
            </p>
          </div>
        </div>
      </div>
    
      <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
          <div class="btns mb-5 offset-3">
        <form method="get" action="/listings/<%= listing._id%>/edit">
          <button  class="btn btn-outline-danger offset-2">Edit</button>
        </form>

        <form method="POST" action="/listings/<%= listing._id %>?_method=delete">
          <button class="btn btn-outline-dark offset-4">Delete</button>
        </form>
      </div>
      <hr>
      <% } %>
       
      

      
        <div class="col-8 offset-3 mt-3">
          <% if(currUser){ %>
          <h4 class="col-8 offset-3">Leave a Review</h4>
          <form action="/listings/<%= listing._id %>/reviews"  method="post"  class="needs-validation" novalidate>
            <div class="mt-3">
              
              <label for="rating" class="form-label">Rating</label>
              <fieldset class="starability-slot">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
          </div>
            <div class="mt-3">
              <label for="comment" class="form-label">Comment</label>
              <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
              <div class="valid-feedback">This will help us to improve</div>
              <div class="invalid-feedback">Comment should not be empty</div>
            </div>
            <button class="btn btn-outline-info mt-3 mb-3">Submit</button>
          </form>
      <% } %>
    
      
    <% if(listing.reviews.length) { %>
      <div class=" mt-3">
        <h5 class="card-heading"><b>All reviews</b></h5>
        <div class="row">
          <% for(review of listing.reviews){ %>
            <div class="card col-5 mb-3 ms-3">
              <div class="card-body">
                <h6 class="card-title"><b>@<%= review.author.username %></b></h6>
                <p class="starability-result" data-rating="<%= review.rating %>"></p>
                <p class="card-text"><%= review.comment %></p>
              </div>
            <% if(currUser && currUser._id.equals(review.author._id)){ %>
              <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=delete" class="mb-3" method="post">
                <button class="btn btn-dark btn-sm ms-3">Delete</button>
              </form>
            <% } %>
            </div>
          <% } %>
        </div>
      </div>
    <% } %>
    </div>
    <div class="col-8 offset-3 mt-3 mb-3">
      <h3>Where you'll be</h3>
      <div id="map"></div>
    </div>
  </div>

  <script src="/js/map.js"></script>